
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Poppins:ital,wght@0,200;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    margin-bottom: 45vh;
   
}
#promo{
    width: 100vw;
    height: 5vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#promo h6{
color: #F9F9F9;
}
#name{
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#name h2{
    color: #181818;
    font-size: 24px;
}
#loja img{
    position: absolute;
    top: 10%;
    left:0;
    width: 100vw;
    height: 50vh;
    z-index: -2;
  
}
.background{
    background-color:#181818;  
    opacity: 0.6;
    width: 100vw;
    height: 50vh;
    position: absolute;
    z-index: -1;
    top: 10%;
    left:0;
}
#loja{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#loja p{
    position: relative;
    width: 25vw;
    height: 5vh;
    right: 100%;
    top: 10%;
    color: #F9F9F9;
}

/*-----------section----------*/
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
section h2{
    margin-bottom:20px;
    font-size: 32px;
    color: #181818;
}
section p{
    margin-bottom: 65px;
    font-size: 18px;
    color: #474747;
}
section ul{
    list-style: none;
    display:flex;
    justify-content: center;
    width:90vw ;
    flex-wrap: wrap;
    gap:10px;
    

}
section ul li{
    width: 300px;
    height: 302px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EBE9EA;
    margin-bottom:20px;
    transition: 0.5s;
    
}
section ul li:hover{
    box-shadow: 0px 10px 20px #1818188f;
    color: #181818;
}

/*-------footer------*/
footer{
    width: 100vw;
    height: 5vh;
    background: #181818; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:80px;
    
}
footer p{
    color: #F9F9F9;
    font-size: 18px;
}

/*------mobile-----*/

@media (max-width:1000px) {
    

#loja{
       background-image: url('./css/images/2.png');
       background-size: cover;
       background-position: top left;
        width: 100vw;
        height:567.6px ;
        z-index: -2;
}
.background{
    height:567.6px ;
}
header{
    margin-bottom: 10vh;
}
section p {
    text-align: center;
}
        #loja p{
            position: relative;
            right:-300px;
        }
        #loja img{
            display: none;
        }
  
    }